spring:
  datasource:
    url: jdbc:h2:mem:bugtracker;MODE=MySQL;DATABASE_TO_LOWER=TRUE;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  thymeleaf:
    cache: false
  flyway:
    enabled: true

logging:
  level:
    org.springframework.jdbc.core: DEBUG
